.Header {
  font-family: "Archivo", sans-serif;
  padding: 30px;
  text-align: center;
  background: white;
}

.Header h1 {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.1em;
}

@media (min-width: 600px) {
  .Header h1 {
    letter-spacing: 0.3em;
  }
}
